<section id="about">
	<div class="container">
		<h2>Über</h2>
		<p>Willkommen zum nächsten großartigen PowerShell Event in Europa!</p>
		<p>Die Deutsche PowerShell Konferenz und begeisterte PowerShell-Anwender und -Experten aus ganz Europa haben sich unter dem Banner von #PSConfEU zusammengeschlossen, um kommenden April ein außergewöhnliches PowerShell Community Event  in Europa zu organisieren.</p>
		<p>Für diese Konferenz bringen wir PowerShell Experten aus aller Welt zusammen und veranstalten ein einzigartiges dreitägiges Event mit Präsentationen, Workshops, und der Möglichkeit zum "Connecten", lernen und diskutieren über alle Bereiche von PowerShell - mit denen, die eine echte Begeisterung für diese sich entwickelnde Technologie haben. Es gibt keine bessere Möglichkeit um so tief in alle Bereiche und "Geschmacksrichtungen" von PowerShell einzutauchen.</p>
		<p>Die Konferenzsprachen sind englisch und deutsch. Die Konferenz bietet durchgehende Tracks in beiden Sprachen, so dass jeder Tracks in der Sprache verfolgen kann, in der er oder sie sich am wohlsten fühlt.<p>
		<p>Nach der Bekanntgabe von <a href="powerShell.Org" target="_blank">PowerShell.Org</a> die EU Summit nicht weiter zu organisieren (die Gründe dafür wurden in einem <a href="http://powershell.org/wp/2015/09/13/future-of-powershell-summit-in-europe-and-north-america/" target="_blank">Blog Post von Don Jones aufgelistet</a>), musste eine schnelle Entscheidung bezüglich der Zukunft solcher Veranstaltungen getroffen werden.</p>
		<p>Nach sorgfältigen Überlegungen durch begeisterte Mitglieder der PowerShell Community in Europa, haben wir uns dazu entschieden das Banner
			von PSConfEU zu verwenden. Dies geschah in Übereinstimmung mit der <a href="www.powershell.asia" target="_blank">Asia PowerShell Conference</a> - #PSConfAsia - und wir freuen uns
			mitteilen zu können, dass die Organisatoren beider Konferenzen eng zusammenarbeiten, um euch in den kommenden Jahren weitere PowerShell
			Veranstaltungen dieser Art näher zu bringen. Dies ermöglicht es, dass das Wissen, um solche Events zu veranstalten, in regionalen
			Gruppen vorhanden ist und solche Veranstaltungen zu einem Erfolg werden.</p>

		<p>Wir als Organisatoren dieses Events möchten uns beim <a href="powerShell.Org" target="_blank">PowerShell.Org</a> Team für ihre Arbeit
			für die bisheren Veranstaltungen bedanken. Wir arbeiten weiterhin eng mit Ihnen und dem <a href="www.powershell.asia" target="_blank">Asia PowerShell Conference Team</a> zusammen, um
			sicherzustellen, dass diese Events sich nicht überschneiden. Immerhin ist das eine Bemühung der Gemeinschaft für die Gemeinschaft - etwas
			wofür jeder im Organisationsteam dieser Veranstaltung sehr engagiert ist.</p>

        <h4>Weiterer Hintergrund</h4>
        <p>2016 wird in Hannover das Leibniz-Jahr gefeiert. <a href="https://de.wikipedia.org/wiki/Gottfried_Wilhelm_Leibniz" target="_blank">Leibniz</a> forschte vor über 300 Jahren und viele seine seiner Konzepte, wie die <a href="https://de.wikipedia.org/wiki/Monadologie" target="_blank">Monadologie</a> sind geistige Wurzeln von PowerShell. Hannover ist einfach via Zug oder Flugzeug zu erreichen. Wir haben darüber hinaus ein Hotelkontingent gesichert, welches optional bei der Registrierung gebucht werden kann.</p>
        <p>Die Konferenzplätze sind streng auf 160 Teilnehmer beschränkt und werden in der Reihenfolge der Anmeldung vergeben.</p>
	</div>
</section>
