<section id="about">
	<div class="container">
		<h2>Über</h2>
		<p>Willkommen zum nächsten großartigen PowerShell Event in Europa!</p>
		<p>Die Deutsche PowerShell Konferenz und begeisterte PowerShell-Anwender und -Experten aus ganz Europa haben sich unter dem Banner von #PSConfEU zusammengeschlossen, um kommenden April ein außergewöhnliches PowerShell Community Event  in Europa zu organisieren.</p>
		<p>Für diese Konferenz bringen wir PowerShell Experten aus aller Welt zusammen und veranstalten ein einzigartiges dreitägiges Event mit Präsentationen, Workshops, und der Möglichkeit zum "Connecten", lernen und diskutieren über alle Bereiche von PowerShell - mit denen, die eine echte Begeisterung für diese sich entwickelnde Technologie haben. Es gibt keine bessere Möglichkeit um so tief in alle Bereiche und "Geschmacksrichtungen" von PowerShell einzutauchen.</p>
		<p>Die Konferenzsprachen sind englisch und deutsch. Die Konferenz bietet durchgehende Tracks in beiden Sprachen, so dass jeder Tracks in der Sprache verfolgen kann, in der er oder sie sich am wohlsten fühlt.<p>


			<!--<p>The PSConfEU banner was chosen to align with the Asia PowerShell Conference and we are delighted to announce that the organizing teams from both conferences will be joining forces to bring even more PowerShell Conferences like this closer to you in the upcoming years.</p>-->


	        <!--<p>To find out more about the PSConfAsia events please visit <a href="http://www.powershell.asia" target="_blank">www.powershell.asia</a></p>-->

		<br>

	    	<h4>Weiterer Hintergrund</h4>
		<p>2016 wird in Hannover das Leibniz-Jahr gefeiert. <a href="https://de.wikipedia.org/wiki/Gottfried_Wilhelm_Leibniz" target="_blank">Leibniz</a> forschte vor über 300 Jahren und viele seine seiner Konzepte, wie die <a href="https://de.wikipedia.org/wiki/Monadologie" target="_blank">Monadologie</a> sind geistige Wurzeln von PowerShell. Hannover ist einfach via Zug oder Flugzeug zu erreichen. Wir haben darüber hinaus ein Hotelkontingent gesichert, welches optional bei der Registrierung gebucht werden kann.</p>
		<p>Die Konferenzplätze sind streng auf 160 Teilnehmer beschränkt und werden in der Reihenfolge der Anmeldung vergeben.</p>
	</div>
</section>
