<section id="about">
    <div class="container">
	<h2>Über</h2>
        <p>
            Mit mehr als 80 Sessions und 45 Speakern aus 5 Kontinenten war psconf.eu 2016 die weltgrößte
            PowerShell Konferenz.
        </p>

        <p>
            2017 wollen wir uns wieder treffen und drei Tage lang alle Aspekte der PowerShell und Automation
            beleuchten. Viel ist geschehen in den letzten 12 Monaten (PowerShell on Linux,
            PowerShell Open Sourced, Server 2016, Nanoserver on Azure, etc.). Was bedeutet das, was sind
            neue Möglichkeiten und gute Ideen? Natürlich wird auch das tägliche „Doing“ breiten Raum
            einnehmen: Sicherheit, Performance-Optimierungen, Real-World Best Practices, uvm.
        </p>

        <img src="{{ "/img/pic_jeffrey_crop.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="About" width="100%">
        <br>

        <p>
            Fast genauso wichtig ist das persönliche Empfinden: wir möchten, dass Sie drei Tage „aussteigen“
            können aus dem Alltagsgeschäft, und sich wohl fühlen in einer kreativen Gruppe gleichgesinnter
            Kollegen, neue Kontakte knüpfen, lernen, Fragen stellen und Antworten mit nach Hause nehmen.
        </p>

        <p>
            Die Konferenzgebühr umfasst drei Konferenztage vielfältiger Präsentationen in verschiedenen
            Tracks, Kaffeepausen, Mittagessen, sowie Ihr Ticket für das gemeinsame Abendevent.
            Hotelübernachtung ist nicht inbegriffen.
        </p>

        <blockquote>
            Schon kleinere Ausgaben erfordern häufig einen ausufernden Genehmigungsprozess.
            Einstündiges Meetings mit 15 Teilnehmern scheinen dagegen niemanden besonders zu kümmern,
            auch wenn dabei nichts herauskommt.
        </blockquote>

        <p>
            Wir sind uns sicher: Ihre Teilnahme an psconf.eu wird nicht nur ein unvergesslicher Moment,
            sondern sich auch schnell bezahlt machen. Rechnen Sie einfach mal nach!
        </p>

        <br>

        <div class="alert alert-warning" role="alert">
                Falls Ihr Unternehmen dieses Event sponsern möchte, finden Sie alle Informationen hier: <a href="{{ "/files/psconfeu-2017-sponsorship-packages.pdf" | prepend: site.baseurl }}" target="_blank">sponsoring brochure</a>
        </div>
	</div>
</section>
