<section id="callforspeakers">
	<div class="container">
		<div class="alert alert-danger" role="alert">
			<strong><i class="fa fa-bullhorn"></i>&nbsp; Suche nach Rednern</strong><br>
			<p>If you wish to speak at PowerShell Conference Europe 2016, please send us a session abstract as soon as possible.</p><br>
			<p>Wenn Sie einen Vorschlag für einen Vortrag in deutscher Sprache einreichen möchten, senden Sie bitte eine Kurzbeschreibung des Vortrags an <a href="mailto:tobias.weltner@email.de">tobias.weltner@email.de</a>.</p>
			<p>Wenn Sie einen Vorschlag für einen Vortrag in englischer Sprache einreichen möchten, senden Sie bitte eine Kurzbeschreibung des Vortrags an <a href="mailto:ryan.yates@kilasuit.org">ryan.yates@kilasuit.org</a>.</p>
		</div>
	</div>
</section>