<section id="callforspeakers">
	<div class="container">
		<div class="alert alert-danger" role="alert">
			<strong><i class="fa fa-bullhorn"></i>&nbsp; Suche nach Rednern</strong><br>

			<p>
				PSConf EU 2018 findet im kommenden Jahr vom 17.-20. April statt.
				Falls Du als Speaker an der Konferenz teilnehmen möchtest, sende uns Deine Session Abstracts <a href="https://www.papercall.io/psconfeu">hier</a>. Vorträge können in deutsch oder englisch gehalten werden.
				Die Teilnehmerregistrierung wird gegen Ende November 2017 geöffnet.
			</p>

		</div>
	</div>
</section>