<section id="eveningevent">
	<div class="container">
		<h2>Abendveranstaltung</h2>
		<p>Alle Konferenzteilnehmer sind unsere Gäste bei unserem ganz besonderen Abend-Event. </p>
		<p>Das Event findet am Ende des ersten Konferenztages in Yukon Bay statt. Yukon Bay ist eine alte Goldgräber-Stadt im Herzen des Hannoverschen Zoos, und wird exklusiv für uns den ganzen Abend geöffnet sein.</p> 
		<p>Umgeben von Eisbären und Pinguinen ist dies der perfekte Ort, um den Tag ausklingen zu lassen, sich mit Speisen und Getränken zu stärken, die übrigen Konferenzteilnehmer und Speaker besser kennen zu lernen, und über die Themen der Konferenz oder jedes andere Thema zu sprechen.</p>
		<br>
		<div class="photogrid" data-layout="2">
			<img src="{{ "/img/Erlebnsi-Zoo+Hannover_Yukon_Bay_c_Erlebnis-Zoo+Hannover_2.jpg" | prepend: site.baseurl }}" alt="Yukon Bay">
			<img src="{{ "/img/450x300-marktplatz-yukon-bay-erlebnis-zoo-hannover.jpg" | prepend: site.baseurl }}" alt="Yukon Bay">
		</div>
	</div>
</section>