<div class="modal fade" id="Legal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Legal</h4>
      </div>
      <div class="modal-body">
        <p>Diese Seite wird von Microsoft MVP Dr. Tobias Weltner betrieben:</p>
        <pre>
Dr. Tobias Weltner
Jonathanweg 2
30559 Hannover, Germany
Fax +49 511 23456 95
tobias@powertheshell.com
</pre>

<b>Allgemeine Geschäftsbedingungen</b>
<p>Willkommen auf unserer Website. Wenn Sie diese Website weiter ansehen und verwenden, stimmen Sie den nachfolgenden Bedingungen zu und bestätigen sich an diese zu halten. Diese Bedingungen definieren, in Verbindung mit unserer Privacy Policy, Herrn Dr. Tobias Weltners Geschäftsbeziehung mit Ihnen im Bezug auf diese Website. Bitte nutzen Sie diese Website nicht, wenn Sie diesen allgemeinen Geschäftsbedingungen nicht zustimmen.</p>
<p>Die Begriffe ‘Dr. Tobias Weltner’ oder ‘unser’ oder ‘wir’ verweisen auf den Betreiber dieser Website. Die Geschäftsadresse lautet Johnathanweg 2, 30559 Hannover, Deutschland. Der Begriff ‘Sie’ verweist auf den Benutzer oder Betrachter unserer Website.</p>
<p>Die Nutzung der Website unterliegt folgenden Bedingungen:</p>
<ul>
  <li>Der Inhalt der Seiten dieser Website dient nur zum Zweck der allgemeinen Information. Der Inhalt kann ohne Ankündigung geändert werden.</li>
  <li>Diese Website verwendet Cookies um Browsereinstellungen zu überwachen. Wenn Sie die Nutzung von Cookies erlaubt haben, können diese Informationen von uns gespeichert und an Dritte weitergegeben werden.</li>
  <li>Weder wir noch Dritte geben Garantie oder Gewähr für die Richtigkeit, Aktualität, Funktion, Vollständigkeit oder Tauglichkeit der auf dieser Website angebotenen Informationen und Materialien zu jedwedem Zweck. Sie akzeptieren, dass diese Informationen und Materialien Ungenauigkeiten und Fehler enthalten können. Wir schließen ausdrücklich jedwede Haftung für Fehler un Ungenauigkeiten im Rahmen der gesetzlichen Möglichkeit aus.</li>
  <li>Die Verwendung jeglicher Informationen und Inhalte auf dieser Website geschieht vollständig auf eigene Gefahr, für welche wir nicht haftbar sind. Es obliegt Ihrer eigenen Verantwortung, dass alle Produkt, Dienstleistungen und Informationen, die auf dieser Website zur Verfügung gestellt werden, Ihren jeweiligen Bedürfnissen entsprechen.</li>
  <li>Diese Website umfasst Inhalte, welche in unserem Besitz sind oder durch uns lizenziert sind. Zu diesen Inhalten gehören unter anderem das Design, die Gestaltung, das Aussehen, die Aufmachung and Grafiken. Nachahmungen sind verboten, wenn diese nicht im Einklang mit den Urheberrechtserklärungen, welche Teil dieser Allgemeinen Geschäftsbedingungen sind, erfolgen.</li>
  <li>Alle Markenzeichen auf dieser Website, welche nicht Eigentum des Betreibers oder für diesen lizenziert sind, sind für diese Website bestätigt.</li>
  <li>Eine unerlaubte Verwendung dieser Website kann Schadensersatzansprüche und/oder eine Anzeige aufgrund einer Straftat zur Folge haben.</li>
  <li>Von Zeit zu Zeit kann diese Website auch Links zu anderen Websiten enthalten. Diese Links dienen dazu, Ihnen weitere Informationen zur Verfügung zu stellen. Dies bedeutet nicht, dass wir die Websiten vollständig gutheißen. Wir übernehmen keine Verantwortung für den Inhalt der verlinkten Websiten.</li>
  <li>Die Nutzung dieser Website und alle entstehenden Konflikte, die sich im Rahmen der Nutzung der Website ergeben, unterliegen der deutschen Gesetzgebung.</li>
</ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>
