<!-- Modal -->
<div class="modal fade" id="Legal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Legal</h4>
      </div>
      <div class="modal-body">
        <p>Diese Seite wird von Microsoft MVP Dr. Tobias Weltner betrieben:</p>
        <pre>
Dr. Tobias Weltner
Jonathanweg 2
30559 Hannover, Germany
Fax +49 511 23456 95
tobias@powertheshell.com
</pre>

<b>Allgemeine Geschäftsbedingungen</b>
<p>Willkommen auf unserer Website. Wenn Sie diese Website weiter ansehen und verwenden, stimmen Sie den nachfolgenden Bedingungen zu und bestätigen sich an diese zu halten. Diese Bedingungen definieren, in Verbindung mit unserer Privacy Policy, Herrn Dr. Tobias Weltners Geschäftsbeziehung mit Ihnen im Bezug auf diese Website. Bitte nutzen Sie diese Website nicht, wenn Sie diesen allgemeinen Geschäftsbedingungen nicht zustimmen.</p>
<p>Die Begriffe ‘Dr. Tobias Weltner’ oder ‘unser’ oder ‘wir’ verweisen auf den Betreiber dieser Website. Die Geschäftsadresse lautet Johnathanweg 2, 30559 Hannover, Deutschland. Der Begriff ‘Sie’ verweist auf den Benutzer oder Betrachter unserer Website.</p>
<p>Die Nutzung der Website unterliegt folgenden Bedingungen:</p>
<ul>
  <li>Der Inhalt der Seiten dieser Website dient nur zum Zweck der allgemeinen Information. Der Inhalt kann ohne Ankündigung geändert werden.</li>
  <li>Diese Website verwendet Cookies um Browsereinstellungen zu überwachen. Wenn Sie die Nutzung von Cookies erlaubt haben, können diese Informationen von uns gespeichert und an Dritte weitergegeben werden.</li>
  <li>Weder wir noch Dritte geben Garantie oder Gewähr für die Richtigkeit, Aktualität, Funktion, Vollständigkeit oder Tauglichkeit der auf dieser Website angebotenen Informationen und Materialien zu jedwedem Zweck. Sie akzeptieren, dass diese Informationen und Materialien Ungenauigkeiten und Fehler enthalten können. Wir schließen ausdrücklich jedwede Haftung für Fehler un Ungenauigkeiten im Rahmen der gesetzlichen Möglichkeit aus.</li>
  <li>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</li>
  <li>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</li>
  <li>All trade marks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.</li>
  <li>Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.</li>
  <li>From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</li>
  <li>Your use of this website and any dispute arising out of such use of the website is subject to the laws of Germany.</li>
</ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>