<section id="register">
	<div class="container">
		<h2>Anmeldung<!--<small>- {{site.data.event.seatsLeft }} Plätze frei</small>--></h2>
		<img src="{{ "/img/IMG_3689crop.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="Register">
        <br>
		<div class="row">
			<div class="col-md-6">
				<!--
                <div class="alert alert-warning" role="alert">
                    Wenige Restplätze verfügbar. Wenn Sie sich hier registrieren und eine Teilnehmerrechnung erhalten, ist Ihr Platz fest für Sie reserviert.
                </div>
				-->
                <p>
					Die Teilnahmegebühr für die Hauptkonferenz (3.-5. Mai 2017) beträgt EUR 999,- zzgl. MwSt. Die Plätze sind limitiert, und die Registrierung wird nach Eingangsdatum bearbeitet. Im Preis inbegriffen sind alle Kaffepausen, Mittagessen, sowie das Abend-Event. Hotelübernachtung ist nicht eingeschlossen. Klicken Sie bitte <a href="https://www.hotel.de/Search?lng=DE&hs_destination=HCC%20Hannover%20Congress%20Centrum%2C%20Theodor-Heuss-Platz%201-3%2C%2030175%2C%20Hannover%2C%20Deutschland&hs_arrival=02.05.2017&hs_departure=06.05.2017&hs_rooms=1&h_persons_total=1" target="_blank">hier</a>, um eine Liste von Hotels zu sehen, die sich in der Nähe des Veranstaltungsortes befinden. Füllen Sie lediglich noch das An- und Abreisedatum ein.
				</p>

				<p>
					Die Teilnahmegebühr für den Präkonferenz-Workshop (2. Mai 2017) beträgt EUR 499 + MwSt. In zwei halbtägigen Workshops/Präsentationen/Guerilla Sessions führen Sie bekannte Speaker in deutsch und englisch in verschiedene Themengebiete ein. Die genauen Themeninhalte werden auf dieser Site später bekannt gegeben, und Sie haben die Möglichkeit, bei der Registrierung Wunschthemen anzugeben.
				</p>

				<p>
					Wir empfehlen wärmstens, den Präkonferenz-Tag mitzubuchen. Er ist der ideale Tag, um sich für die folgenden Konferenz-Sessions aufzuwärmen, das eigene Wissen zu komplettieren, und vielleicht noch schnell die Grundlagen für neue Themen zu legen, zu denen dann an den folgenden Tagen tiefgehende Vorträge angeboten werden.
				</p>

				<p>
					Nach erfolgter Registrierung sind Ihre Plätze gesichert, und wir senden eine Rechnung an die angegebene Adresse. Bitte stellen Sie sicher, dass die Adresse genau so angegeben wurde, wie sie auf Ihrer Rechnung erscheinen soll.
				</p>

				<p>
					Die Rechnung ist zahlbar innerhalb von 30 Tagen. Ist bis dahin kein Rechnungseingang verzeichnet, behalten wir uns das Recht vor, die Plätze anderweitig weiterzugeben. Falls der Zahlungslauf in Ihrem Unternehmen länger als 30 Tage dauert, informieren Sie uns bitte, damit wir Ihre Plätze länger reservieren können.
				</p>

				<p>
					Nach Zahlungseingang erhalten Sie automatisch eine Bestätigung an die angegebene Email-Adresse. Die registrierten Teilnehmer können bis einen Tag vor Konferenzbeginn geändert werden und sind also kostenfrei übertragbar. Teilnehmerregistrierungen sind aber nicht stornierbar.
				</p>

				<p>
					Wenn Sie eine gültige Umsatzsteuer-ID bei der Registrierung angeben und Ihr Unternehmen den Sitz innerhalb der EU oder Schweiz hat, wird die Rechnung rein netto ausgestellt, und es obliegt Ihnen, die Mehrwertsteuer abzuführen.
				</p>

				<p>
					Bitte kontaktieren Sie uns gern jederzeit, wenn Sie weitere Fragen oder Anliegen haben.
				</p>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default box-shadow--3dp">
				<div class="panel-body">
				<div id="wufoo-ms36ru200juvcz">
Fill out my <a href="https://tobiaspsp.wufoo.com/forms/ms36ru200juvcz/">online form</a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">Use <a href="http://www.wufoo.com/gallery/templates/">Wufoo templates</a> to make your own HTML forms.</div>
<script type="text/javascript">var ms36ru200juvcz;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'tobiaspsp',
'formHash':'ms36ru200juvcz',
'autoResize':true,
'height':'589',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { ms36ru200juvcz = new WufooForm();ms36ru200juvcz.initialize(options);ms36ru200juvcz.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
				</div>
				</div>
			</div>
		</div>
	</div>
</section>
