<section id="register">
	<div class="container">
		<h2>Anmeldung<small>- {{site.data.event.seatsLeft }} Plätze frei</small></h2>
				<div class="alert alert-danger" role="alert">
					Die reguläre Teilnahmegebühr beträgt 999 €. Für die ersten 100 Anmeldungen (Early Bird) beträgt die Teilnahmegebühr 899 € 
					(alle Preise inkl. 19% MwSt.).  Die Teilnehmerzahl ist auf 160 begrenzt. Anmeldungen werden nach der Eingangsreihenfolge bearbeitet.
                 </div>
								
				<p>In der Teilnahmegebühr enthalten ist die Teilnahme an allen 3 Konferenztagen, Kaffeepausen und Mittagessen an diesen Tagen, sowie die 
				Abendveranstaltung einschließlich Speisen und Getränken. Hotelübernachtungen können bei Bedarf selbst gebucht werden und sind nicht in den 
				Teilnahmegebühren enthalten. Im direkt benachbarten <a href="https://www.cbooking.de/v3/Login.aspx?id=congresshannover&allotmentcode=psconf.eu&lang=de" target="_blank">Kongresshotel</a> steht ein Kontingent zur Verfügung. Möchten Sie ein anderes Hotel buchen, 
				empfehlen wir eines in der Nähe einer Straßenbahn-Haltestelle.</p>
				<p>Es steht darüber hinaus <a href="https://www.cbooking.de/v3/Login.aspx?id=congresshannover&allotmentcode=psconf.eu&lang=de" target="_blank">ein Hotelkontingent</a> zur Verfügung, das Sie buchen können.</p>				
				<p>Optional können Sie sich außerdem für den Präkonferenz-Workshoptag anmelden (EUR 499,- inkl. 19% MwSt.). Die Teilnehmerzahl an den 
				Präkonferenz-Workshops ist auf 20 Teilnehmer pro Workshop begrenzt.</p>
				
				<p>Eine Anmeldung geschieht vorbehaltlich noch verfügbarer Kapazität. Nach der Anmeldung senden wir eine Rechnung an die von Ihnen angegebene 
				E-Mail Adresse mit der von Ihnen angegebenen Rechnungsadresse. Die Rechnung ist zahlbar innerhalb von 30 Tagen. 
				Danach verfällt die Anmeldung automatisch.</p>
				
				<p>Nach Zahlung der Anmeldegebühr erhalten Sie eine Anmeldebestätigung. Sollten zu diesem Zeitpunkt alle Plätze bereits ausgebucht sein, 
				erstatten wir den Rechnungsbetrag umgehend zurück.</p>

				<p>Die Anmeldung zur Konferenz ist übertragbar und nicht an einen bestimmten Teilnehmer gebunden. Bringen Sie Ihre Anmeldebestätigung mit zur '
				Konferenz. Anmeldungen sind nicht stornierbar.</p>
				
				<p>Für Änderungen nach bestätigter Anmeldung oder sonstige Fragen wenden Sie sich bitte <a href="mailto:contact@psconf.eu">per E-Mail</a> an uns.</p>
				
				<p>Hotline bei Fragen: 0511-16592550 (sponsored by <a href="http://www.netz-weise.de" target="_blank">www.netz-weise.de</a>)</p>

        <p>Please Click the below button to be taken to the form to register for the conference</p>
        <input type="button" class="btn btn-primary btn-lg" onclick="location.href = 'http://1drv.ms/1H5y0E8';" value="Click here to Register" />
	</div>
</section>