<section id="speakers">
<div class="container">
	<h2>Referenten<small> - Suche nach Rednern</small></h2>
	<p>
		If you wish to speak at PowerShell Conference Europe 2016, please send us a session abstract as soon as possible.
		For sessions to be delivered in German, please email a session abstract to 
		<a href="mailto:tobias.weltner@email.de">tobias.weltner@email.de</a>.
	</p>
	<p>
		If you wish to submit a session to be delivered in English, please email a session abstract to <a href="mailto:ryan.yates@kilasuit.org">ryan.yates@kilasuit.org</a>.
	</p>
	<p>
		When the final lineup of speakers are ready, a presentation of each speaker will be added to the site.
	</p>
</div>
</section>