<section id="speakers">
<div class="container">
	<h2>Referenten<small> - Suche nach Rednern</small></h2>
	<p>
		Wenn Sie einen Vorschlag für einen Vortrag in deutscher Sprache einreichen möchten, senden Sie bitte eine Kurzbeschreibung
		des Vortrags an <a href="mailto:tobias.weltner@email.de">tobias.weltner@email.de</a>.
	</p>
	<p>
		Wenn Sie einen Vorschlag für einen Vortrag in englischer Sprache einreichen möchten, senden Sie bitte eine Kurzbeschreibung
		des Vortrags an <a href="mailto:ryan.yates@kilasuit.org">ryan.yates@kilasuit.org</a>.
	</p>
	<p>
		Wenn die Aufstellung feststeht, finden Sie auf dieser Seite eine Vorstellung der Referenten.
	</p>
</div>
</section>