<section id="speakers">
<div class="container">
	<h2>Referenten<small> - Suche nach Rednern</small></h2>
	<p>
		Wenn Sie einen Vorschlag für einen Vortrag in deutscher Sprache einreichen möchten, senden Sie bitte eine Kurzbeschreibung
		des Vortrags an <a href="mailto:tobias.weltner@email.de">tobias.weltner@email.de</a>.
	</p>
	<p>
		Wenn Sie einen Vorschlag für einen Vortrag in englischer Sprache einreichen möchten, senden Sie bitte eine Kurzbeschreibung
		des Vortrags an <a href="mailto:ryan.yates@kilasuit.org">ryan.yates@kilasuit.org</a>.
	</p>
	<p>
		Wenn die Aufstellung feststeht, finden Sie auf dieser Seite eine Vorstellung der Referenten.
	</p>
	<br>
	<div class="speakers">
		<ul class="row">
			{% for speaker in site.data.speakers.speakers %}
				<li class="col-md-{{site.data.speakers.col_md}} col-sm-{{site.data.speakers.col_sm}} col-xs-{{site.data.speakers.col_xs}}">
					<center><h3>{{ speaker.name }}</h3></center>
					<div class="thumbnail">
						<img src="{{ speaker.img }}" class="img-responsive" alt="responsive image">
						<div class="caption" id="caption-up">
							<p>
								{{ speaker.bio.[page.lang] }}<br><br>
								<i class="fa fa-twitter fa-fw"></i>&nbsp; <a href="{{ speaker.twitterurl }}">{{ speaker.twittername }}</a><br>
								<i class="fa fa-external-link fa-fw"></i>&nbsp; <a href="{{ speaker.blogurl }}">{{ speaker.blogname }}</a>
							</p>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
</section>