<section id="venue">
	<div class="container">
        <h2>Veranstaltungsort</h2>

        <p>Die PowerShell Konferenz 2016 findet im Hannover Congress Center statt.</p>

        <p>
            Bitte <a href="https://www.hotel.de/Search?lng=DE&hs_destination=HCC%20Hannover%20Congress%20Centrum%2C%20Theodor-Heuss-Platz%201-3%2C%2030175%2C%20Hannover%2C%20Deutschland&hs_arrival=02.05.2017&hs_departure=06.05.2017&hs_rooms=1&h_persons_total=1" target="_blank">reservieren</a> Sie frühzeitig Ihre Unterkunft. Preise steigen typischerweise, und je früher
            Sie buchen, desto günstigere Angebote stehen noch zur Wahl. Der untenstehende Link zeigt Ihnen
            die aktuell verfügbaren Hotelarrangements in der Nähe der Konferenz für den Zeitraum
            2.-6.5.2017. Bitte passen Sie Ihre Aufenthaltsdauer an Ihre speziellen Bedürfnisse und
            Reiseplanung an.
        </p>
        <p>
            Pre-Konferenz Tag: 2.5.2017
        </p>
        <p>
            Hauptkonferenz: 3.-5.5.2017
        </p>

        <p>
            Bitte beachten Sie, dass Hotelkosten und die Hotelbuchung nicht Teil der
            Konferenzgebühr sind. Diese Buchung erfolgt ausschließlich zwischen Ihnen und dem Hotel.
            Wir sind in keiner Weise in diesen Vorgang eingebunden und wollen Sie lediglich dabei
            unterstützen, eine bestmögliche Unterkunft zu finden.
        </p>

        <br>

        <div class="photogrid" data-layout="343">
            <img src="{{ "/img/IMG_3672.JPG" | prepend: site.baseurl }}">
			<img src="{{ "/img/pic_opening.jpg" | prepend: site.baseurl }}">
            <img src="{{ "/img/speaker_flags.jpg" | prepend: site.baseurl }}">
            <img src="{{ "/img/snover_laughing.jpg" | prepend: site.baseurl }}">
            <img src="{{ "/img/IMG_3682.JPG" | prepend: site.baseurl }}">
            <img src="{{ "/img/interactive_session.jpg" | prepend: site.baseurl }}">
            <img src="{{ "/img/12969_preview.jpg" | prepend: site.baseurl }}" alt="Lounge area"">
            <img src="{{ "/img/hotel-galerie-01.jpg" | prepend: site.baseurl }}" alt="Conference Center outside view">
            <img src="{{ "/img/IMG_3670_crop.jpg" | prepend: site.baseurl }}">
            <img src="{{ "/img/mugs.jpg" | prepend: site.baseurl }}">
        </div>
    </div>
</section>