<section id="venue">
	<div class="container">
        <h2>Veranstaltungsort</h2>
        <p>Die PowerShell Konferenz 2016 findet im Hannover Congress Center statt.</p>
        <p>Der erste Tag findet klassisch im großartigen Beethoven-Saal und dem Blauen Saal statt. Nach der englischsprachigen Keynote können Sie frei wählen, ob Sie dem deutschen oder dem englischen Track folgen möchten. Alle Vorträge werden aufgezeichnet. Im Anschluss an diesen Tag findet die Abendveranstaltung statt. Die Abendveranstaltung ist für Teilnehmer kostenlos.</p>
        <p>Der zweite und dritte Tag wird interaktiv: weiterhin stehen zwei Haupttracks zur Auswahl, darüber hinaus aber auch zahlreiche Breakout-Sessions und Diskussionen. Es stehen ausreichend Räume zur Verfügung, um im Anschluss an einen Vortrag gemeinsam mit dem Speaker weiterzudiskutieren oder zu vertiefen.</p>
        <br>
        <div class="photogrid" data-layout="232">
            <img src="{{ "/img/tagungen_hannover_beethovensaal_1.jpg" | prepend: site.baseurl }}" alt="Beethoven saal">
			<img src="{{ "/img/tagungen_hannover_beethovensaal_2.jpg" | prepend: site.baseurl }}" alt="Beethoven saal">
			<img src="{{ "/img/tagungen_hannover_blauersaal_1.jpg" | prepend: site.baseurl }}" alt="Blauer saal">
            <img src="{{ "/img/tagungen_hannover_blauersaal_2.jpg" | prepend: site.baseurl }}" alt="Blauer saal">
            <img src="{{ "/img/12969_preview.jpg" | prepend: site.baseurl }}" alt="Lounge area"">
            <img src="{{ "/img/hotel-galerie-01.jpg" | prepend: site.baseurl }}" alt="Conference Center outside view">
            <img src="{{ "/img/hotel-galerie-02.jpg" | prepend: site.baseurl }}" alt="Conference Center outside view">
        </div>
    </div>
</section>