/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 16px;
  font-family: 'Halant', serif;
}

section {
  padding-top: 50px;
  margin-top: -50px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

.navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: dodgerblue!important;
}

.navbar-inverse .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #fff;
}

.navbar-inverse .nav li a:hover {
    outline: 0;
    color: dodgerblue;
}
.navbar-inverse .nav li a:focus {
    outline: 0;
}

.navbar-inverse .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #fed136;
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503;
}

.navbar-inverse {
  background-color: #1d2120;
}

.jumbotron {
  text-align: center;
  background-color: #bcd5d1;
}

@media screen and (min-width: 500px) and (max-width: 767px) {
	
	
}

@media screen and (max-width: 499px) {
  
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.back-to-top {
  position: fixed;
	opacity: 0;
	visibility: hidden;
  z-index: 99999999;
  right: 30px;
	bottom: 30px;
  -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.back-to-top.show {
  visibility:visible;
  cursor:pointer;
	opacity: 1.0;
}

#my-soon-counter {background-color:#db4b3e;background-color:rgba(219,75,62,0);}
#my-soon-counter .soon-reflection {background-color:#db4b3e;background-image:linear-gradient(#db4b3e 25%,rgba(219,75,62,0));}
#my-soon-counter {background-position:top;}
#my-soon-counter {color:#030303;color:rgba(3,3,3,0.25);}
#my-soon-counter {font-family:"Oswald",sans-serif;font-weight:normal;font-style:normal;font-size: 36px;}