/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  /*padding-bottom: 20px;*/
  font-size: 16px;
  /*font-family: 'EB Garamond', serif;*/
  /*font-family: 'Gentium Book Basic', serif;*/
  /*font-family: 'Merriweather', serif;*/
  font-family: 'PT Serif', serif;
  background-color: #E6EBE0;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

section {
  padding-top: 50px;
  padding-bottom: 20px;
  margin-top: -50px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

.navbar-inverse .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #fff;
}

.navbar-inverse .nav li a:hover {
    outline: 0;
    color: #5CA4A9;
}

.navbar-inverse .nav li a:focus {
    outline: 0;
}

.navbar-inverse .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #fed136;
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503;
}

.navbar-inverse {
  background-color: #46494C;
}

.jumbotron {
  text-align: center;
  background-color: #bcd5d1;
}

.jumbotron p{
  font-size:16px;
  /*font-weight:200*/
}

@media screen and (min-width: 768px) {
  .footer {
    height: 520px;
  }
  
  #wrap {
    margin: 0 auto -520px;
    padding: 0 0 520px;
  }
  
  .navbar-inverse .nav li a {
    font-size: 10px!important;
  }
}

@media (min-width: 992px) {
  .footer {
    height: 360px;
  }
  
  #wrap {
    margin: 0 auto -360px;
    padding: 0 0 360px;
  }
  
  .navbar-inverse .nav li a {
    font-size: 12px!important;
  }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
  .footer {
    height: 580px;
  }
  
  #wrap {
    margin: 0 auto -580px;
    padding: 0 0 580px;
  }
}

@media screen and (max-width: 499px) {
  .footer {
    height: 640px;
  }
  
  #wrap {
    margin: 0 auto -640px;
    padding: 0 0 640px;
  }
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.footer {
  background-color: #46494C;
  color: white;
}

html {
  position: relative;
  min-height: 100%;
}

.back-to-top {
  position: fixed;
	opacity: 0;
	visibility: hidden;
  z-index: 99999999;
  right: 30px;
	bottom: 30px;
  -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.back-to-top.show {
  visibility:visible;
  cursor:pointer;
	opacity: 1.0;
}

#my-soon-counter {background-color:#db4b3e;background-color:rgba(219,75,62,0);}
#my-soon-counter .soon-reflection {background-color:#db4b3e;background-image:linear-gradient(#db4b3e 25%,rgba(219,75,62,0));}
#my-soon-counter {background-position:top;}
#my-soon-counter {color:#030303;color:rgba(3,3,3,0.25);}
#my-soon-counter {font-family:"Oswald",sans-serif;font-weight:normal;font-style:normal;font-size: 36px;}

#venue-map {
  margin: 0;
  padding: 0;
  height: 600px;
}

#top-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 999;
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    display: none;
}

.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

.speakers ul {
  padding:0 0 0 0;
  margin:0 0 0 0;
}

.speakers li {
  list-style:none;
  margin-bottom:25px;
}

.row-flex, .row-flex > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.row-flex-wrap {
	-webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
	 margin:-.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
	width:100%;
}


.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
	flex-flow: column nowrap;
}

.flex-grow {
	display: flex;
    -webkit-flex: 2;
    flex: 2;
}
.thumbnail {
    background: transparent;
    border: none
}