<section id="about">
	<div class="container">
		<h2>About</h2>
		<p>Welcome to the next great European PowerShell event!</p>
		<p>Deutsche PowerShell Konferenz and enthusiastic PowerShell Community Members from all across Europe have united together 
        under the #PSConfEU banner to create an extraordinary PowerShell Community Event in Europe this coming April.</p>
		<p>For this conference we will be bringing together PowerShell experts from all around the globe to create a unique 3-day event 
        with presentations, workshops and the chance to connect, learn and discuss all things PowerShell with those that have a real passion for this evolving technology.
        There will be no place like this to deep-dive PowerShell in all of its flavors and colors.</p>
		<p>The conference languages are English and German. There are continuous main tracks in both languages, making sure you can follow the tracks in the language you feel most comfortable with.</p>


		<p>After the announcement by <a href="http://powershell.org" target="_blank">PowerShell.Org</a> that the EU Summit would no longer be organised by them due to the reasons listed in this blog post
         <a href="http://powershell.org/wp/2015/09/13/future-of-powershell-summit-in-europe-and-north-america/" target="_blank"> Don Jones on EU Summit Future</a> there was an immediate decison to be made 
        regarding the future of such an event</p>
        <p>After some careful consideration by enthusiastic members of the PowerShell Community in Europe we decided on using the PSConfEU banner and this was in part chosen to align with the 
        <a href="http://www.powershell.asia" target="_blank">Asia PowerShell Conference</a> - #PSConfAsia - and we are delighted to announce that the organizing teams from both conferences will be joining forces to bring even
        more PowerShell Conferences like this closer to you in the upcoming years. 
        This allows there to be Local knowledge to organise these types of events which ensures that the event can be the success that we all want it to be.</p>

	    <p>We as organisers of this event would like to thank the <a href="http://powershell.org" target="_blank">PowerShell.Org</a> team for the work that they have done in the past with the events already held 
        and we will be working closely with them and the <a href="http://www.powershell.asia" target="_blank">Asia PowerShell Conference Team</a> to ensure that events do not overlap in the upcoming years and after 
        all this is a community effort for the community - one that all in the Organising team for this Conference are very much committed to.</p>
        		        
		<br>
        	
        <h4>Further Background</h4>
		<p>2016 is Leibniz Year in Hannover. <a href="https://en.wikipedia.org/wiki/Gottfried_Wilhelm_Leibniz" target="_blank">Leibniz</a> researched more than 300 years ago, and some of his concepts like the <a href="https://en.wikipedia.org/wiki/Monadology" target="_blank">Monadology</a> are spiritual roots of PowerShell. It is easy to get to Hannover by railway or plane, and we secured hotel contingents that you can optionally take advantage of when you register.</p>
		<p>Conference seats are strictly limited to 160 attendees on a first-come-first-serve basis.</p> 
	</div>		
</section>