<section id="about">
	<div class="container">
		<h2>About</h2>
        <p>
            In 2016, psconf.eu was the largest PowerShell conference world-wide, with 80+ sessions
            and 45 speakers from 5 continents.
        </p>

        <p>
            In 2017, we again take a close look at all the exciting new extensions to the PowerShell
            ecosystem (i.e. PowerShell on Linux, Server 2016, Nanoserver on Azure, etc.), we’ll cover
            the opportunities introduced by Microsoft’s new “Open Source” strategy, we’ll look at hot
            topics like security, SQL Server tuning, real-world best practices, discuss how code can
            be maintained and distributed within your company teams or publicly, and leave plenty of
            room to discuss, learn, and look ahead.
        </p>

        <img src="{{ "/img/pic_jeffrey_crop.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="About" width="100%">
        <br>
        <p>
            We target Administrators, DevOps, Consultants, and technical decision makers.
        </p>

        <p>
            So psconf.eu is all about creativity paired with rock-solid professional firsthand information.
            It’s a friendly place where you can meet new people, connect to user groups, find answers,
            and bring back home fresh ideas.
        </p>

        <p>
            Your signup fee covers three days of presentations in multiple tracks, coffee breaks,
            lunch, your ticket to the evening event with all delegates (free food and drinks until late).
            Hotel accommodation is not included.
        </p>

        <blockquote>
            You likely have to get #management approval for a $500 expense. But you can call a 1 hour #meeting with 15 people and no one notices.
            <cite>@SaraSHMH</cite>
        </blockquote>

        <p>
            Why not get firsthand answers fast instead of wasting time? Attending psconf.eu will pay
            for itself in no time. Just do the math.
        </p>

        <br>

        <div class="alert alert-warning" role="alert">
            If you’d like to sponsor this event, please kindly review our <a href="{{ "/files/psconfeu-2017-sponsorship-packages.pdf" | prepend: site.baseurl }}" target="_blank">sponsoring brochure</a>.
        </div>
	</div>
</section>
