<section id="about">
	<div class="container">
		<h2>About</h2>
		<p>Welcome to the next great European PowerShell event!</p>
		
		<p>After the announcement that there will be no more PowerShell Summit Europe in the future, 
			the <b>Deutsche PowerShell Konferenz</b> and enthusiastic PowerShell Community Members from all across Europe have united together
            under the PSConfEU banner to create an extraordinary PowerShell Community Event in Europe this coming April.</p>
		
		<p>For this conference we will be bringing together PowerShell experts from all around the globe to create a unique 3-day event with presentations, 
		   workshops and the chance to connect, learn and discuss all things PowerShell with those that have a real passion for this evolving Technology.
           This will be no place like this to deep-dive PowerShell in all of its flavors and colors.</p>
			
		<p>The conference languages are English and German. There are continuous main tracks in both languages, making sure 
			you can follow the tracks in the language you feel most comfortable with.</p>
		
		<br>

        <p>The PSConfEU banner was chosen to align with the Asia PowerShell Conference and we are delighted to announce that the organising teams from both conferences
         will be joining forces to bring even more PowerShell Conferences like this closer to you in the upcoming years.</p>
		
        <!--<p>To find out more about the PSConfAsia events please visit <a href="http://www.powershell.asia" target="_blank">www.powershell.asia</a></p>-->
		        
		<br>
        	
        <h4>Further Background</h4>
		<p></p>
        <p>2016 is Leibniz Year in Hannover. <a href="https://en.wikipedia.org/wiki/Gottfried_Wilhelm_Leibniz" target="_blank">Leibniz</a> researched more than 300 years ago, and some of his concepts like the 
			<a href="https://en.wikipedia.org/wiki/Monadology" target="_blank">Monadology</a> are spiritual roots of PowerShell. It is easy to get to Hannover by railway or plane, and we secured 
			hotel contingents that you can optionally take advantage of when you register.</p>
			
		<p>Conference seats are strictly limited to 160 attendees on a first-come-first-serve basis. Registration starts 
			<strong>November 2</strong>. We will update this site as more information becomes available, so make sure you check back.
			Note: All information presented here currently is preliminary and subject to change at any time.</p><br>
	</div>		
</section>