<section id="delegateinfo">
	<div class="container">
		<h2>Delegate Information</h2>

        <p>
            Get ready for PSConfEU 2017!
            <ul>
                <li>Join the delegate slack space, and get to know other delegates so you feel at home when the conference opens: <a href="https://psconfeu2017.slack.com/shared_invite/MTY2NDg2NjgxNDU5LTE0OTE2NjQwOTAtYzNiNWQxNTAzMA">PSConfEU 2017 Slack Invitation</a>
                <li><a href="http://www.psconf.eu/travel.pdf">Travel Directions</a></li>
                <li><a href="http://www.psconf.eu/psconfeu_info.pdf">Information to keep on hand</a></li>
                <li><a href="http://www.psconf.eu/floorplan.pdf">Venue Floor Plan</a></li>
                <li><a href="http://www.psconf.eu/preconf_workshops.pdf">Preconference Workshops Info</a></li>
                <li>Download the <a href="http://www.eventsxd.com/download">eventsXD</a> conference app - schedule updates and session ratings, all in one place</li>
            </ul>
        </p>
	</div>
</section>