<section id="register">
	<div class="container">
		<h2>Register<!--<small>- {{site.data.event.seatsLeft }} seats left</small>--></h2>
        <img src="{{ "/img/IMG_3689crop.jpg" | prepend: site.baseurl }}" class="img-responsive" alt="Register">
        <br>
		<div class="row">
            <div class="col-md-4">
                <!--
                <div class="alert alert-warning" role="alert">
                    Last few seats available. When you register and receive an invoice, the seat is reserved for you.
                </div>-->
                <p>
                    Registration fee for the main conference (May 3-5, 2017) is <b>EUR 999 plus VAT</b>. Seats are limited, first come, first serve. Registration fee covers all three conference days including coffee breaks, lunch, and the evening event.
                </p>

                <p>
                    Hotel accommodation is not included. Click <a href="https://www.hotel.de/Search?hs_destination=HCC%20Hannover%20Congress%20Centrum%2C%20Theodor-Heuss-Platz%201%2B3%2C%2030175%2C%20Hanover%2C%20Deutschland&lng=EN&hs_rooms=1&h_persons_total=1&hs_circum=0" target="_blank">here</a> to see a list of hotels close to the venue. Just fill in the dates that suit your travel arrangement.
                </p>

				<p>
                    Registration fee for the preconference workshop (May 2, 2017) is <b>EUR 499 plus VAT</b>. Preconference workshops consist of multiple half-day workshops/presentations/guerilla sessions and will be delivered by renowned speakers for many different topics (TBA).
                </p>

                <p>
                    It is strongly encouraged to attend the preconference workshops. It's your opportunity to polish your knowledge, prepare for the main conference topics, learn new areas before you hear the main conference sessions. You will find more information about the available topics at a later time on this site, and you can suggest your topic(s) of choice when you register.
                </p>

				<p>
                    After registration, an invoice is sent to the specified address. Make sure you specify the address exactly as you want it to appear on the invoice. Your seat(s) are reserved immediately.
                </p>

                <p>
                    Invoices are payable within 30 days. If not paid in time, we reserve the right to offer your seats to others. If payment processes take longer than 30 days in your company, please let us know so we can hold your reservation longer than 30 days.
                </p>

				<p>
                    Once the invoice is paid, you receive a registration confirmation. Conference registration is transferable (at not cost) and not cancellable.
                </p>

				<p>
                    If you need changes after you registered (i.e. attendee changes), or if you have other questions, don't hesitate to contact us.
                </p>
			</div>
			<div class="col-md-8">
				<div class="panel panel-default box-shadow--3dp">
				<div class="panel-body">
                    <div id="wufoo-z1cygvfw1pmlcnc">
Fill out my <a href="https://tobiaspsp.wufoo.com/forms/z1cygvfw1pmlcnc">online form</a>.
</div>
<script type="text/javascript">var z1cygvfw1pmlcnc;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'tobiaspsp',
'formHash':'z1cygvfw1pmlcnc',
'autoResize':true,
'height':'1701',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z1cygvfw1pmlcnc = new WufooForm();z1cygvfw1pmlcnc.initialize(options);z1cygvfw1pmlcnc.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

				</div>
			</div>
		</div>
	</div>
</section>