<div class="container">
    <h1>Your psconf.eu 2017 registration was successfull!</h1>

    <p>
        Thank you so much for registering. You will receive a registration confirmation and your invoice soon. If you do not hear from us within 24 hours, please check your spam folder, or contact us.
    </p>

    <p>
        Your seats are reserved, but please pay your invoice within 30 days to finalize your registration. If the payment approval process in your company is likely to take longer than that, drop us a mail so we can extend your reserved seats.
    </p>

    <p>
        The next step is to reserve your hotel accommodation. Don’t wait too long. Hotel cost and availability is likely to tighten over time.  Please note that accommodation is not included in the conference pass. To help you find suitable accommodation, here is a link showing hotels close to the venue with vacancy. Make sure you adjust the dates to your needs and travel plan before you book rooms.
    </p>

    <p>
        We’ll continue to post useful information to psconf.eu. Please check back often to keep up to date. Or follow us on twitter: #psconfeu.
    </p>
</div>