<section id="register">
	<div class="container">
		<h2>Register<small>- {{site.data.event.seatsLeft }} seats left</small></h2>
		
				
				<div class="alert alert-danger" role="alert">
					Regular registration fee is EUR 999. For the first 100 registrations (Early Bird), the fee is EUR 899 (19% VAT included in all fees). 
					Registration is limited to 160 attendees on a first come, first serve basis. Registration fee covers all three conference days including coffee 
					breaks, lunch, and the evening event.
				</div>
								
				<p>You can choose to register for the optional preconference workshop day (EUR 499, 19% VAT included). Preconference workshops are limited to 
				20 attendees per workshop.</p>
				
				<p>You can reserve hotel rooms if needed at the <a href="http://www.congress-hotel-hannover.de/en/" target="_blank">Hannover Congress Hotel</a> where we 
				reserved contingents for you. Hotel accommodation is not included. If you'd like to choose a different hotel, please make sure it is close to a tram station 
				for easy travel.</p>
				
				<p>When you register, based on availability we send an invoice to the email address you specify, with the billing address you specified. 
				You then have 30 days to pay the invoice. After 30 days, your registration request is automatically cancelled.</p>
				
				<p>Once the invoice is paid, you receive a registration confirmation. 
				If the invoice is paid after all seats were already taken, we reimburse your payment immediately.</p>
				
				<p>Conference registration is transferable and not bound to a specific person. Bring your registration confirmation to the conference. 
				Registrations are not cancellable.</p> 
				
				<p>If you need changes after you registered (i.e. attendee changes),  or if you have other questions, don't hesitate to
				<a href="mailto:contact@psconf.eu">contact us</a>.</p>
			    
                <p>Please Click the below button to be taken to the form to register for the conference    </p>
                <input type="button" class="btn btn-primary btn-lg" onclick="location.href = 'http://1drv.ms/20tW4a1';" value="Click here to Register" />
        	</div>
</section>