<section id="venue">
	<div class="container">
        <h2>Venue</h2>

        <p>The conference takes place in the <a href="http://www.hcc.de/" target="_blank">Hannover Conference Centrum (HCC)</a>.</p>

        <p>
            Please reserve your <a href="https://www.hotel.de/Search?hs_destination=HCC%20Hannover%20Congress%20Centrum%2C%20Theodor-Heuss-Platz%201%2B3%2C%2030175%2C%20Hanover%2C%20Deutschland&lng=EN&hs_rooms=1&h_persons_total=1&hs_circum=0" target="_blank">hotel accommodation</a> soon as prices may rise. Below is a link showing available hotel rooms for May 2-6, 2017 that are close to the venue. Please make sure to adjust the dates of your stay to suit your needs and travel arrangements:
        </p>
        <p>
            Preconference Day: May 2, 2017
        </p>
        <p>
            Main Conference: May 3-5, 2017
        </p>

        <p>
            Please note that hotel cost and hotel reservations are not included or covered in any way
            in the conference fee. We are not affiliated with below link. We just aim to help you make
            a good hotel choice. Any booking arrangement is between you and the hotel.
        </p>

        <br>

        <div class="photogrid" data-layout="232">
            <!--
            <img src="{{ "/img/tagungen_hannover_beethovensaal_1.jpg" | prepend: site.baseurl }}" alt="Beethoven saal">
			<img src="{{ "/img/tagungen_hannover_beethovensaal_2.jpg" | prepend: site.baseurl }}" alt="Beethoven saal">
			-->
            <img src="{{ "/img/IMG_3672.JPG" | prepend: site.baseurl }}">
			<img src="{{ "/img/pic_jeffrey.jpg" | prepend: site.baseurl }}">
            <img src="{{ "/img/tagungen_hannover_blauersaal_1.jpg" | prepend: site.baseurl }}" alt="Blauer saal">
            <!--<img src="{{ "/img/tagungen_hannover_blauersaal_2.jpg" | prepend: site.baseurl }}" alt="Blauer saal">-->
            <img src="{{ "/img/IMG_3682.JPG" | prepend: site.baseurl }}">
            <img src="{{ "/img/12969_preview.jpg" | prepend: site.baseurl }}" alt="Lounge area"">
            <img src="{{ "/img/hotel-galerie-01.jpg" | prepend: site.baseurl }}" alt="Conference Center outside view">
            <img src="{{ "/img/hotel-galerie-02.jpg" | prepend: site.baseurl }}" alt="Conference Center outside view">
        </div>
    </div>
</section>