<section id="venue">
	<div class="container">
        <h2>Venue</h2>
        <p>The conference takes place in the Hannover Conference Center (HCC).</p>
        <p>On day one, we have two main tracks taking place in the awesome Beethoven Saal and in Blauer Saal. After the keynote in English, you are free to choose between the two main tracks, one in English, and one in German. All tracks will be recorded.</p>
        <p>At the evening of day 1, there is a great come-together at Yukon Bay inside Hannover Zoo. We have the entire place to us, surrounded by ice bears and penguins, and great food and drinks. The perfect place to escape the world and have a good time connecting with PowerShell fellows from around the globe. The evening event is part of your registration fee and includes all drinks and food. If you’d like to bring your partner, there will be tickets for guests available, too.</p>
        <p>On day 2 + 3, we have up to 4 main tracks holding 75 attendees maximum each. There will always be one continuous track in English and one in German. The other two tracks deliver presentations in various languages, repeat sessions, or discussions.</p>
        <p>We also have 7 breakout session rooms and an emergency room. The emergency room provides help and ad-hoc tutoring to bring you up to speed with topics you are not completely comfortable with. You can also make free appointments with experts for a 1:1 or 1:many.</p>
        <p>The remaining breakout session rooms will be used ad-hoc. If you want to take the presenter from a track with you, and discuss details or play yourself with his demos, you can get a breakout session room. Some rooms will be used to deliver refresher classes in RegEx, XML, or other topics, and allow PowerShell user groups to present themselves.</p>
        <p>So day 2 & 3 are highly dynamic and interactive. You can either follow all main tracks throughout the day, or you can dive into discussions and hands-on demos. The conference wants you to connect, learn, and improve your skills.</p>
        <br>
        <div class="photogrid" data-layout="232">
            <img src="{{ "/img/tagungen_hannover_beethovensaal_1.jpg" | prepend: site.baseurl }}" alt="Beethoven saal">
			<img src="{{ "/img/tagungen_hannover_beethovensaal_2.jpg" | prepend: site.baseurl }}" alt="Beethoven saal">
			<img src="{{ "/img/tagungen_hannover_blauersaal_1.jpg" | prepend: site.baseurl }}" alt="Blauer saal">
            <img src="{{ "/img/tagungen_hannover_blauersaal_2.jpg" | prepend: site.baseurl }}" alt="Blauer saal">
            <img src="{{ "/img/12969_preview.jpg" | prepend: site.baseurl }}" alt="Lounge area"">
            <img src="{{ "/img/hotel-galerie-01.jpg" | prepend: site.baseurl }}" alt="Conference Center outside view">
            <img src="{{ "/img/hotel-galerie-02.jpg" | prepend: site.baseurl }}" alt="Conference Center outside view">
        </div>
    </div>
</section>