{% capture date %}
{% if include.mode != 'month' %}
  {% assign d = include.date | date: "%-d" %}
  {% if page.lang == 'de' %}
    {{ d }}{% if d == "1" %}<sup>er</sup>{% endif %}
  {% else %}
    {{ d }}<sup>{% case d %}
      {% when '1' or '21' or '31' %}st
      {% when '2' or '22' %}nd
      {% when '3' or '23' %}rd
      {% else %}th
    {% endcase %}</sup> of
  {% endif %}
{% endif %}

{% if page.lang == 'de' %}
 {% assign m = include.date | date: "%-m" %}
 {% case m %}
    {% when  '1' %} januar
    {% when  '2' %} februar
    {% when  '3' %} märz
    {% when  '4' %} april
    {% when  '5' %} mai
    {% when  '6' %} juni
    {% when  '7' %} juli
    {% when  '8' %} august
    {% when  '9' %} september
    {% when '10' %} oktober
    {% when '11' %} november
    {% when '12' %} dezember
  {% endcase %}
{% else %}
  {{ include.date | date: " %B"}}
{% endif %}
{{ include.date | date: " %Y"}}
{% endcapture %}{{ date | strip_newlines | replace: '  ','' }}