<section id="delegateinfo">
	<div class="container">
		<h2>Delegate Information</h2>

        <p>
            Get ready for PSConfEU 2017!
        </p>
        <ul style="list-style-type:square;list-style-position:inside">
            <li>Feel at home when the conference opens by joining the <a href="https://psconfeu2017.slack.com/shared_invite/MTY2NDg2NjgxNDU5LTE0OTE2NjQwOTAtYzNiNWQxNTAzMA">PSConfEU 2017 Slack</a> space now and getting to know other delegates
            <li>Install the <a href="http://www.eventsxd.com/download">eventsXD</a> conference app - schedule updates, session feedback and more</li>
            <li>Useful documents:
            <ul style="list-style-type:circle;list-style-position:inside">
                <li><a href="http://www.psconf.eu/travel.pdf">Travel Directions</a></li>
                <li><a href="http://www.psconf.eu/preconf_workshops.pdf">Preconference Workshops Info</a></li>
                <li><a href="http://www.psconf.eu/floorplan.pdf">Venue Floor Plan</a></li>
                <li><a href="http://www.psconf.eu/psconfeu_info.pdf">All Conference Details</a></li>
            </ul>
        </ul>
	</div>
</section>
