<section id="eventstats">
	<div class="container">
		<div class="row row-flex row-flex-wrap">
			<div class="col-md-3 col-sm-3">
				<div class="panel panel-default box-shadow--1dp flex-col">
					<div class="panel-body">
						<center>
							<h3><i class="fa fa-calendar"></i>&nbsp; {{ site.data.eventstats.days }} {{ site.data.eventstats[page.lang].days }}</h3>
							<hr>
							{{ site.data.eventstats[page.lang].daysText }}
						</center>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="panel panel-default box-shadow--1dp flex-col">
					<div class="panel-body">
						<center>
							<h3><i class="fa fa-users"></i>&nbsp; {{ site.data.eventstats.seatsTotal }} {{ site.data.eventstats[page.lang].attendees }}</h3>
							<hr>
							{{ site.data.eventstats[page.lang].attendeesText }}
						</center>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="panel panel-default box-shadow--1dp flex-col">
					<div class="panel-body">
						<center>
							<h3><i class="fa fa-graduation-cap"></i>&nbsp; {{ site.data.eventstats.speakers }} {{ site.data.eventstats[page.lang].speakers }}</h3>
							<hr>
							{{ site.data.eventstats[page.lang].speakersText }}
						</center>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="panel panel-default box-shadow--1dp flex-col">
					<div class="panel-body">
						<center>
							<h3><i class="fa fa-commenting-o"></i>&nbsp; {{ site.data.eventstats.sessions }} {{ site.data.eventstats[page.lang].sessions }}</h3>
							<hr>
							{{ site.data.eventstats[page.lang].sessionsText }}
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>