<div class="container">
    <div class="alert alert-warning" role="alert">        
<!--        {{ site.data.misc[page.lang].extraInfoText }}  -->
        <p>Current agenda link here: <a href="http://www.psconf.eu/agenda.html">http://powershell.guide</a></p>
        <!--<p>Use PowerShell to view and search the most current version of our conference agenda! Run this:
        <p><pre>(iwr powershell.love -UseB).Content.SubString(1) | ConvertFrom-Json | %{$_} | ogv</pre>
        <p>Participate in our grand Agenda Competition! Details... <a href="http://www.powertheshell.com/agendacompetition">http://www.powertheshell.com/agendacompetition</a></p> -->
    </div>
</div>
