<div class="container">
    <div class="alert alert-warning" role="alert">        
<!--        {{ site.data.misc[page.lang].extraInfoText }}  -->
        <p>Use PowerShell to view and search the most current version of our conference agenda! Run this:</p>
        <p><pre>(iwr powershell.love -UseB).Content.SubString(1) | ConvertFrom-Json | %{$_} | ogv</pre></p>
        <p>Participate in our grand Agenda Competition!<br>Details: <a href="http://www.powertheshell.com/agendacompetition">http://www.powertheshell.com/agendacompetition/</a></p>
    </div>
</div>
