<div class="container">
    <div class="alert alert-warning" role="alert">        
<!--        {{ site.data.misc[page.lang].extraInfoText }}  -->
        <p>Thanks to all of our speakers, staff AND delegates for making PowerShell Conference Europe 2017 amazing!</p>
        <p>Our YouTube Channel, with new sessions and interviews every day: <a href="https://www.youtube.com/playlist?list=PLDCEho7foSooHYGxYqUj2Q6C7usp4aKIQ">http://powershell.video</a></p>
        <p>Session list with available slides and demo code: <a href="https://github.com/psconfeu/2017">https://github.com/psconfeu/2017</a></p>
        <p>Agenda archive: <a href="http://www.psconf.eu/agenda.html">http://powershell.guide</a></p>
        <!--<p>Use PowerShell to view and search the most current version of our conference agenda! Run this:
        <p><pre>(iwr powershell.love -UseB).Content.SubString(1) | ConvertFrom-Json | %{$_} | ogv</pre>
        <p>Participate in our grand Agenda Competition! Details... <a href="http://www.powertheshell.com/agendacompetition">http://www.powertheshell.com/agendacompetition</a></p> -->
    </div>
</div>
