<section id="sponsors">
	<div class="inner">
		<h4 class="sponsor-title">Our sponsors</h4>
		<div class="row">
					<div class="3u 12u$(xsmall)">
						<a class="sponsorlogo" href="https://www.microsoft.com" alt="Microsoft" /><img
						src="assets/images/sponsors/400x300_microsoft.png" alt="Sponsored by Microsoft" /></a>
					</div>
					<div class="3u 12u$(xsmall)">
						<a class="sponsorlogo" href="https://aws.amazon.com" alt="Amazon Web Services" /><img
							src="assets/images/sponsors/400x300_aws.png" alt="Sponsored by Amazon Web Services" /></a>
					</div>
					<div class="3u 12u$(xsmall)">
						<a class="sponsorlogo" href="https://systemfrontier.com/powershell" alt="System Frontier" /><img
							src="assets/images/sponsors/400x300_systemfrontier.png" alt="Sponsored by System Frontier" /></a>
					</div>
					<div class="3u 12u$(xsmall)">
						<a class="sponsorlogo" href="https://www.scriptrunner.com/en/" alt="ScriptRunner" /><img
							src="assets/images/sponsors/400x300_scriptrunner.png" alt="Sponsored by ScriptRunner" /></a>
					</div>
		</div>
		<div class="row">
					<div class="3u 12u$(xsmall)">
						<a class="sponsorlogo" href="https://powershell.one/psconfeu/psconf.eu-2020/about"
							alt="PowerShellone" /><img src="assets/images/sponsors/400x300_powershellone.png"
							alt="Sponsored by PowerShell.one" /></a>
					</div>
		</div>
	</div>
</section>

<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<hr />
		<h4>PowerShell Conference Europe</h4>
		<ul class="copyright">
			<li>&copy; psconf.eu. All rights reserved.</li>
			<li><a href="legal.html">Legal</a></li>
			<li><a href="/2019" class="fit">2019 Archive</a></li>
			<li><a href="/contact" class="fit">Contact Us</a></li>
		</ul>
		<ul class="icons">
			{% if site.twitter_url %}
			<li><a href="{{ site.twitter_url }}" class="icon alt fa-twitter" target="_blank"><span
						class="label">Twitter</span></a></li>
			{% endif %}
			{% if site.googleplus_url %}
			<li><a href="{{ site.googleplus_url }}" class="icon alt fa-google-plus" target="_blank"><span
						class="label">Google+</span></a></li>
			{% endif %}
			{% if site.facebook_url %}
			<li><a href="{{ site.facebook_url }}" class="icon alt fa-facebook" target="_blank"><span
						class="label">Facebook</span></a></li>
			{% endif %}
			{% if site.instagram_url %}
			<li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span
						class="label">Instagram</span></a></li>
			{% endif %}
			{% if site.pinterest_url %}
			<li><a href="{{ site.pinterest_url }}" class="icon alt fa-pinterest" target="_blank"><span
						class="label">Pinterest</span></a></li>
			{% endif %}
			{% if site.500px_url %}
			<li><a href="{{ site.500px_url }}" class="icon alt fa-500px" target="_blank"><span class="label">500px</span></a>
			</li>
			{% endif %}
			{% if site.gitlab_url %}
			<li><a href="{{ site.gitlab_url }}" class="icon alt fa-gitlab" target="_blank"><span
						class="label">GitLab</span></a></li>
			{% endif %}
			{% if site.github_url %}
			<li><a href="{{ site.github_url }}" class="icon alt fa-github" target="_blank"><span
						class="label">GitHub</span></a></li>
			{% endif %}
			{% if site.slack_url %}
			<li><a href="{{ site.slack_url }}" class="icon alt fa-slack" target="_blank"><span class="label">Slack</span></a>
			</li>
			{% endif %}
			{% if site.linkedin_url %}
			<li><a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span
						class="label">LinkedIn</span></a></li>
			{% endif %}
		</ul>
	</div>
</footer>

</div>

<!-- Scripts -->
<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
<script src="{{ "assets/js/main.js" | absolute_url }}"></script>