<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3>{{ site.data.misc[page.lang].footerHeading }}</h3>
				<p><small>{{ site.data.misc[page.lang].footerText }}</small></p>

				<h3><small>{{ site.data.misc[page.lang].newsletterText }}</small></h3>
				<form class="form-inline" action="//psconf.us11.list-manage.com/subscribe/post?u=92f8fe6c03bcf5a3af9fa2017&amp;id=0b39d3b5d1" method="post" target="_blank" novalidate>
					<div class="form-group">
						<input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="{{ site.data.misc[page.lang].newsletterMailText }}">
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					</div>
    				<div style="position: absolute; left: -5000px;"><input type="text" name="b_92f8fe6c03bcf5a3af9fa2017_0b39d3b5d1" tabindex="-1" value=""></div>
					<button type="submit" class="btn btn-default" id="mc-embedded-subscribe">{{ site.data.misc[page.lang].subscribe }}</button>
				</form>

			</div>
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<br>
				{% if site.data.features.includeContact %}
					{% if page.lang == 'en' %}
					<div id="wufoo-q1dvd4gc1inhctm">
Fill out my <a href="https://tobiaspsp.wufoo.com/forms/q1dvd4gc1inhctm">online form</a>.
</div>
<script type="text/javascript">var q1dvd4gc1inhctm;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'tobiaspsp',
'formHash':'q1dvd4gc1inhctm',
'autoResize':true,
'height':'519',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { q1dvd4gc1inhctm = new WufooForm();q1dvd4gc1inhctm.initialize(options);q1dvd4gc1inhctm.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
            {% else %}
				<div id="wufoo-r17r8vjr09s896t">
Fill out my <a href="https://tobiaspsp.wufoo.com/forms/r17r8vjr09s896t">online form</a>.
</div>
<script type="text/javascript">var r17r8vjr09s896t;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'tobiaspsp',
'formHash':'r17r8vjr09s896t',
'autoResize':true,
'height':'519',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { r17r8vjr09s896t = new WufooForm();r17r8vjr09s896t.initialize(options);r17r8vjr09s896t.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
            {% endif %}

				{% endif %}
			</div>
		</div>
	</div>
</footer>