<div class="jumbotron">
  <div class="container">
    <h1>{{ site.data.event[page.lang].name }}<br><small>{{ site.data.event[page.lang].location }}</small></h1>
    <h2>{{ site.data.event[page.lang].start }} - {{ site.data.event[page.lang].end }}</h2>
    {% if site.data.features.includeCountdown %}
    <br>
    <script type="text/javascript">
      function soonCompleteCallback(){document.getElementById("my-soon-counter").style.display = "none";};WebFontConfig={google:{families:['Oswald']}};(function(){var wf=document.createElement('script');wf.src=('https:'==document.location.protocol?'https':'http')+'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';wf.type='text/javascript';wf.async='true';var s=document.getElementsByTagName('head')[0];s.appendChild(wf);})()
    </script>
    <div class="soon" id="my-soon-counter"
      data-due="2017-05-03T09:00"
      data-event-complete="soonCompleteCallback"
      data-layout="group label-uppercase"
      data-format="d,h,m,s"
      data-face="flip color-light shadow-soft fast corners-round"
      {% if page.lang == 'de' %}
        data-labels-days="Tag,Tage"
        data-labels-hours="Stunde,Stunden"
        data-labels-minutes="Minute,Minuten"
        data-labels-seconds="Sekunde,Sekunden"
      {% endif %}
      >
    </div>
    {% endif %}
    {% if site.data.features.includeRegister %}
      <a class="btn btn-primary btn-lg" href="#register" role="button" data-scroll>{{ site.data.misc[page.lang].registerNow }}</a>
    {% endif %}
  </div>
</div>