<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">{{ site.data.misc[page.lang].toggleNavigation }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- Home -->
            <li><a data-scroll href="#page-top">{{ site.data.misc[page.lang].home }}</a></li>
            
            <!-- About -->
            {% if site.data.features.includeAbout %}
            <li><a data-scroll href="#about">{{ site.data.misc[page.lang].about }}</a></li>  
            {% endif %}  
                        
            <!-- Schedule -->
            {% if site.data.features.includeSchedule %}
            <li><a data-scroll href="#schedule">{{ site.data.misc[page.lang].schedule }}</a></li>  
            {% endif %}

            <!-- Speakers -->
            {% if site.data.features.includeSpeakers %}
            <li><a data-scroll href="#speakers">{{ site.data.misc[page.lang].speakers }}</a></li>  
            {% endif %}

            <!-- Register -->
            {% if site.data.features.includeRegister %}
            <li><a data-scroll href="#register">{{ site.data.misc[page.lang].register }}</a></li>  
            {% endif %}
            
            <!-- Venue -->
            {% if site.data.features.includeVenue %}
            <li><a data-scroll href="#venue">{{ site.data.misc[page.lang].venue }}</a></li>  
            {% endif %}

            <!-- 2016 -->
            <li><a href="http://psconf.eu/2016">{{ site.data.misc[page.lang].lastyear }}</a></li>
            
            <!-- Legal -->
            {% if site.data.features.includeLegal %}
            <li><a href="#" data-toggle="modal" data-target="#Legal">{{ site.data.misc[page.lang].legal }}</a></li>
            {% endif %}
            
            <!-- Language switcher -->
            {% if page.lang == 'en' %}
            <li><a href="{{ "/de/" | prepend: site.baseurl }}">Deutsch</a></li>
            {% else %}
            <li><a href="{{ "/" | prepend: site.baseurl }}">English</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>
<div id="top-shadow"></div>