<section id="schedule">
	<div class="container">
		<h2>Schedule</h2>
		<div class="table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<th>Time</th>
					<th>Track #1: English</th>
					<th>Track #2: German</th>
				</thead>
				<tbody>
					<tr>
						<td>09:00 - 09:45</td>
						<td>Keynote - Tobias<br><br>
							Tobias will officially open the conference and give some pratical information to all participants.
						</td>
						<td>Keynote - Tobias<br><br>
							Tobias will officially open the conference and give some pratical information to all participants.
						</td>
					</tr>
					<tr>
						<td>10:00 - 10:45</td>
						<td>Something<br><br>
							Description of the session.
						</td>
						<td>Something else<br><br>
							Description of the session.
						</td>
					</tr>
					<tr>
						<td>11:00 - 11:45</td>
						<td>Something<br><br>
							Description of the session.
						</td>
						<td>Something else<br><br>
							Description of the session.
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>