<section id="schedule">
	<div class="container">
		<h2>{{ site.data.schedule[page.lang].schedule }}</h2>
		<div class="panel panel-default box-shadow--1dp">
			<div class="panel-body">

				<!-- Tab navigation -->
				<ul class="nav nav-tabs" role="tablist">
					{% for day in site.data.schedule.days %}
					<li role="presentation" {% if day.active %}class="active"{% endif %}><a href="#{{ day.id }}" role="tab" data-toggle="tab">{{ day.title[page.lang] }}</a></li>
					{% endfor %}
				</ul>

				<!-- Tab content -->
				<div class="tab-content">
					{% for day in site.data.schedule.days %}
					<div role="tabpanel" class="tab-pane fade {% if day.active %} in active{% endif %}" id="{{ day.id }}">
						<h4>{{ day.date }}</h4>
						<div class="table">
							<table class="table table-hover table-bordered table-condensed table-responsive">
								<thead>
									{% for header in day.trackHeaders %}
										<th>{{ header.title[page.lang] }}</th>
									{% endfor %}
								</thead>
								<tbody>
									{% for slot in day.timeSlots %}
										<tr>
											<td>{{ slot.time }}</td>
											{% for track in slot.tracks %}
                                                {% if track.span == true %}
                                                    <td style="{{site.data.schedule.cellStyle[track.category]}}" colspan="{{track.spanLength}}">
                                                {% else %}
												    <!--<td>-->
													<td style="{{site.data.schedule.cellStyle[track.category]}}">
                                                {% endif %}
													{% if track.name != '' %}
														{% if track.description[page.lang] == '' %}
															<strong>
																{% if track.language == 'English' %}
																	<img src="{{ "/img/gb.png" | prepend: site.baseurl }}">
																{% endif %}
																{% if track.language == 'German' %}
																	<img src="{{ "/img/de.png" | prepend: site.baseurl }}">
																{% endif %}
																{{ track.name }}
															</strong>
														{% else %}
															<a href="#this" data-toggle="popover" data-html="true" data-trigger="focus" data-placement="bottom" data-container="body" data-content="{{track.description[page.lang]}}">
																<strong>
																	{% if track.language == 'English' %}
																		<img src="{{ "/img/gb.png" | prepend: site.baseurl }}">
																	{% endif %}
																	{% if track.language == 'German' %}
																		<img src="{{ "/img/de.png" | prepend: site.baseurl }}">
																	{% endif %}
																	{{ track.name }}
																</strong>
															</a>
														{% endif %}
														{% if track.speaker != '' %}<br><i>{{ track.speaker }}</i>{% endif %}<br>
													{% endif %}
                                                    <!--
                                                    <br>
													<p>
													{{ track.description[page.lang] }}
													</p>
                                                    -->
												</td>
											{% endfor %}
										</tr>
									{% endfor %}
								</tbody>
							</table>
							<table class="table table-bordered table-condensed table-responsive">
									<td style="{{site.data.schedule.cellStyle["PowerShell"]}}">PowerShell</td>
									<td style="{{site.data.schedule.cellStyle["OpenSource"]}}">Cross-Platform & OpenSource</td>
									<td style="{{site.data.schedule.cellStyle["Security"]}}">Security</td>
									<td style="{{site.data.schedule.cellStyle["Testing"]}}">Pester & TDD</td>
									<td style="{{site.data.schedule.cellStyle["DevOps"]}}">DSC & DevOps</td>
									<td style="{{site.data.schedule.cellStyle["Automation"]}}">Automation</td>
									<td style="{{site.data.schedule.cellStyle["Containers"]}}">PowerShell as a Service & Nanoserver</td>
									<td style="{{site.data.schedule.cellStyle["Database"]}}">Database</td>
									<td style="{{site.data.schedule.cellStyle["Microsoft"]}}">PowerShell Team</td>
							</table>
						</div>
					</div>
					{% endfor %}
			</div>
		</div>
	</div>
</section>