<section id="schedule">
	<div class="container">
		<h2>Schedule</h2>
		<div class="panel panel-default box-shadow--1dp">
		<div class="panel-body">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#day0" role="tab" data-toggle="tab">Day 0</a></li>
				<li role="presentation"><a href="#day1" role="tab" data-toggle="tab">Day 1</a></li>
				<li role="presentation"><a href="#day2" role="tab" data-toggle="tab">Day 2</a></li>
				<li role="presentation"><a href="#day3" role="tab" data-toggle="tab">Day 3</a></li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="day0">
					<br>
					Something
				</div>
				<div role="tabpanel" class="tab-pane fade" id="day1">
					<br>
					Something else
				</div>
				<div role="tabpanel" class="tab-pane fade" id="day2">
					<br>
					Something else
				</div>
				<div role="tabpanel" class="tab-pane fade" id="day3">
					<br>
					Something else
				</div>
		</div>
		</div>
	</div>
</section>