<section id="schedule">
	<div class="container">
		<h2>Schedule</h2>
		<div class="panel panel-default box-shadow--1dp">
			<div class="panel-body">
				
				<!-- Tab navigation -->
				<ul class="nav nav-tabs" role="tablist">
					{% for day in site.data.schedule.days %}
					<li role="presentation" {% if day.active %}class="active"{% endif %}><a href="#{{ day.id }}" role="tab" data-toggle="tab">{{ day.title }}</a></li>
					{% endfor %}
				</ul>
				
				<!-- Tab content -->
				<div class="tab-content">
					{% for day in site.data.schedule.days %}
					<div role="tabpanel" class="tab-pane fade {% if day.active %} in active{% endif %}" id="{{ day.id }}">
						<h4>{{ day.date }}</h4>
						<div class="table">
							<table class="table table-hover table-bordered">
								<thead>
									{% for header in day.trackHeaders %}
										<th>{{ header.title }}</th>
									{% endfor %}
								</thead>
								<tbody>
									{% for slot in day.timeSlots %}
										<tr>
											<td>{{ slot.time }}</td>
											{% for track in slot.tracks %}
												<td>
													{% if track.name != '' %}
														<strong>{{ track.name }}</strong> - {{ track.speaker }}<br>
														Language: {{ track.language }}<br><br>
													{% endif %}
													<p>
													{{ track.description[page.lang] }}
													</p>
												</td>
											{% endfor %}
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					{% endfor %}
					
					<!--<div role="tabpanel" class="tab-pane fade" id="preconf">
						<br>
						Preconference schedule
					</div>
					<div role="tabpanel" class="tab-pane fade in active" id="day1">
						<br>
						Something else
					</div>
					<div role="tabpanel" class="tab-pane fade" id="day2">
						<br>
						Something else
					</div>
					<div role="tabpanel" class="tab-pane fade" id="day3">
						<br>
						Something else
					</div>-->
			</div>
		</div>
	</div>
</section>