<section id="sponsors">
    <div class="container">
        <h2>Sponsors</h2>

        <div class="row">
            {% for sponsor in site.data.sponsors.sponsors %}
            <div class="col-md-{{ site.data.sponsors.col_md }} col-sm-{{ site.data.sponsors.col_sm }} col-xs-{{ site.data.sponsors.col_xs }}">
                <center>

                <a href="{{ sponsor.url }}">
                    <img alt="logo" class="img-responsive" src="{{ sponsor.img | prepend: site.baseurl }}">
                </a><br>

                </center>
            </div>
            {% endfor %}
        </div>

  <!--      <div class="alert alert-warning" role="alert">
        If you’d like to sponsor this event, please kindly review our <a href="{{ "/files/psconfeu-2017-sponsorship-packages.pdf" | prepend: site.baseurl }}" target="_blank">sponsoring brochure</a>.
        </div>-->

    </div>
</section>