<section id="venue">
	<div class="container">
        <h2>{{ site.data.venue[page.lang].title }}</h2>
        <div class="photogrid" data-layout="232">
            <img src="{{ "/img/tagungen_hannover_beethovensaal_1.jpg" | prepend: site.baseurl }}">
			<img src="{{ "/img/tagungen_hannover_beethovensaal_2.jpg" | prepend: site.baseurl }}">
			<img src="{{ "/img/tagungen_hannover_blauersaal_1.jpg" | prepend: site.baseurl }}">
            <img src="{{ "/img/tagungen_hannover_blauersaal_2.jpg" | prepend: site.baseurl }}">
            <img src="{{ "/img/12969_preview.jpg" | prepend: site.baseurl }}">
            <img src="{{ "/img/hotel-galerie-01.jpg" | prepend: site.baseurl }}">
            <img src="{{ "/img/hotel-galerie-02.jpg" | prepend: site.baseurl }}">
        </div>
        <br>
        <p>{{ site.data.venue[page.lang].description }}</p>
    </div>
</section>