<section id="venue">
	<div class="container">
        <h2>{{ site.data.venue[page.lang].title }}</h2>
        {{ site.data.venue[page.lang].description }}
        <br>
        <div class="photogrid" data-layout="232">
            <img src="{{ "/img/tagungen_hannover_beethovensaal_1.jpg" | prepend: site.baseurl }}" alt="Beethoven saal">
			<img src="{{ "/img/tagungen_hannover_beethovensaal_2.jpg" | prepend: site.baseurl }}" alt="Beethoven saal">
			<img src="{{ "/img/tagungen_hannover_blauersaal_1.jpg" | prepend: site.baseurl }}" alt="Blauer saal">
            <img src="{{ "/img/tagungen_hannover_blauersaal_2.jpg" | prepend: site.baseurl }}" alt="Blauer saal">
            <img src="{{ "/img/12969_preview.jpg" | prepend: site.baseurl }}" alt="Lounge area"">
            <img src="{{ "/img/hotel-galerie-01.jpg" | prepend: site.baseurl }}" alt="Conference Center outside view">
            <img src="{{ "/img/hotel-galerie-02.jpg" | prepend: site.baseurl }}" alt="Conference Center outside view">
        </div>
    </div>
</section>