---
layout: scaffolding
---
{% if site.data.features.includeLegal %}
	{% include {{page.lang}}/legal.html %}
{% endif %}

{% include heading.html %}

{% if site.data.features.includeAbout %}
	{% include {{page.lang}}/about.html %}
{% endif %}

{% if site.data.features.includeSpeakers %}
	{% include {{page.lang}}/speakers.html %}
{% endif %}

{% if site.data.features.includeSchedule %}
	{% include schedule.html %}
{% endif %}

{% if site.data.features.includeRegister %}
	{% include {{page.lang}}/register.html %}
{% endif %}

{% if site.data.features.includeVenue %}
	{% include {{page.lang}}/venue.html %}
{% endif %}

{% if site.data.features.includeMap %}
	{% include map.html %}
{% endif %}

{% if site.data.features.includeContact %}
	{% include contact.html %}
{% endif %}