---
layout: scaffolding
---
<!-- Legal -->
{% if site.data.features.includeLegal %}
	{% include {{page.lang}}/legal.html %}
{% endif %}

<!-- Heading -->
{% include heading.html %}

<!-- About -->
{% if site.data.features.includeAbout %}
	{% include {{page.lang}}/about.html %}
{% endif %}

<!-- Call for Speakers -->
{% if site.data.features.includeCallforSpeakers %}
	{% include {{page.lang}}/callforspeakers.html %}
{% endif %}

<!-- Speakers -->
{% if site.data.features.includeSpeakers %}
	{% include {{page.lang}}/speakers.html %}
{% endif %}

{% include schedule_tabs.html %}

{% if site.data.features.includefull-schedule %}
	{% include preconf-schedule.html %}
    {% include schedule-day1.html %}
    {% include schedule-day2.html %}
    {% include schedule-day3.html %}
{% endif %}

{% if site.data.features.includepreconf-schedule %}
	{% include preconf-schedule.html %}
{% endif %}

{% if site.data.features.includeSchedule-Day1 %}
	{% include schedule-day1.html %}
{% endif %}

{% if site.data.features.includeSchedule-Day2 %}
	{% include schedule-day2.html %}
{% endif %}

{% if site.data.features.includeSchedule-Day3 %}
	{% include schedule-day3.html %}
{% endif %}

<!-- Register -->
{% if site.data.features.includeRegister %}
	{% include {{page.lang}}/register.html %}
{% endif %}

<!-- Venue -->
{% if site.data.features.includeVenue %}
	{% include {{page.lang}}/venue.html %}
{% endif %}

<!-- Map -->
{% if site.data.features.includeMap %}
	{% include map.html %}
{% endif %}

<!-- Contact form -->
{% if site.data.features.includeContact %}
	{% include contact.html %}
{% endif %}