---
layout: scaffolding
---
<!-- Legal -->
{% if site.data.features.includeLegal %}
	{% include {{page.lang}}/legal.html %}
{% endif %}

<!-- Heading -->
{% include heading.html %}

<!-- Event Stats -->
{% if site.data.features.includeEventStats %}
	{% include eventstats.html %}
{% endif %}

<!-- ExtraInfoBox -->
{% if site.data.features.includeExtraInfoBox %}
	{% include extrainfobox.html %}
{% endif %}

<!-- Info for delegates -->
{% if site.data.features.includeDelegateInfo %}
	{% include delegateinfo.html %}
{% endif %}

<!-- About -->
{% if site.data.features.includeAbout %}
	{% include {{page.lang}}/about.html %}
{% endif %}

<!-- Call for Speakers -->
{% if site.data.features.includeCallforSpeakers %}
	{% include {{page.lang}}/callforspeakers.html %}
{% endif %}

<!-- Schedule -->
{% if site.data.features.includeSchedule %}
	{% include schedule.html %}
{% endif %}

<!-- Speakers -->
{% if site.data.features.includeSpeakers %}
	<!--{% include {{page.lang}}/speakers.html %}-->
    {% include speakers.html %}
{% endif %}

<!-- Register -->
{% if site.data.features.includeRegister %}
	{% include {{page.lang}}/register.html %}
{% endif %}

<!-- Evening Event -->
{% if site.data.features.includeEveningEvent %}
	{% include {{page.lang}}/eveningEvent.html %}
{% endif %}

<!-- Venue -->
{% if site.data.features.includeVenue %}
	{% include {{page.lang}}/venue.html %}
{% endif %}

<!-- Map -->
{% if site.data.features.includeMap %}
	{% include map.html %}
{% endif %}

<!-- Candids -->
{% if site.data.features.includeCandids %}
	{% include candids.html %}
{% endif %}

<!-- Sponsors -->
{% if site.data.features.includeSponsors %}
	{% include sponsors.html %}
{% endif %}